body{
background-color: #3fd0d4;
font-family: Arial;
text-align: center;
}
.Card{
background-color:antiquewhite;
width: 450px;
height: 300px;
margin: 200px auto;
padding: 20px;
border: 2px solid #ccc;
}
.img{
width: 180px;
height: 180px;
border-radius: 50%;
}