.box
{
    width: 300px;
    height: 120px;
    background-color: yellow;
    border: 2px solid black;
    margin: 280px auto;
    font-size: medium;
    font-style: italic;
    text-align: center;
}