body{
background-color:#dfe6e9;
text-align:center;
font-family:Arial;
}
.card{
width:300px;
margin:200px auto;
padding:20px;
background:white;
border-radius:10px;
transition:0.3s;
}
.card:hover{
transform:scale(1.1);
box-shadow:0px 5px 20px gray;
}
img{
width:150px;
height:150px;
border-radius:50%;
}