body{
font-family:Arial;
text-align:center;
}
.gallery{
display:grid;
grid-template-columns:repeat(2,200px);
gap:20px;
justify-content:center;
margin-top:100px;
}
.gallery img{
width:200px;
height:200px;
border-radius:10px;
}